.container-1{
    border: 1px solid black;
    margin: 0 auto;
    width: 85%;
    text-align: center;

}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-blackjack-row-1, .flex-blackjack-row-2{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkwGJVfArNbmLhASUqeVYgkkxH7kjT6yBzIg&usqp=CAU) center;
    color: #ffffff;
}
.flex-blackjack-row-1 div {
    border: 1px solid black;
    flex: 1;
    padding: 10px;
    height: 350px;
    text-align: center;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
table, td, th{
    padding: 5px;
    border: 1px solid black;
}

.flex-box-container-1  div {
   display: flex;
   padding: 10px;
   border: 1px solid black;
   align-items: center;
}
    
.flex-box-container-2 img{
   
   margin: 10px;
   box-shadow: 8px 18px 58px rgba(0,0,0,0.7);
}

.flex-box-rps img:hover {
    box-shadow: 8px 18px 58px rgba(37,50,233,1);
}